## Execute family id adjustments

In [1]:
import os
import pandas as pd

account_csv = os.path.join('data','accounts_11_2020.csv')
output_filepath = 'outputs'

opp_pkl = os.path.join(output_filepath,'opportunity.pkl')

In [2]:
import sys
sys.path.append('refactor')

from params import  dropping_vars_acc, subset_vars_opp
from account import Account
from family_id_adj import FamilyIdAdjuster

opp_df = pd.read_pickle(opp_pkl)

In [3]:
fam_adj = FamilyIdAdjuster(account_csv,
                           varname_family_id='family_id', family_id_default_val = 0,
                           varname_family_id_region='family_id_region')

fam_adj.fill_family_id(varname_parent_id = 'ParentID',
                       varname_sv_bus_name = 'sv_root_account_name',
                       varname_csg_bus_name = 'csg_busn_name')


fam_adj.output_to_file('data', 'accounts_fam_adj_11_2020.csv')

c:\users\kmineg144\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3338: DtypeWarning: Columns (0,4,16) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [4]:
fam_adj.df.columns

Index(['DISTINCT_LOC_ID', 'sfdc_link', 'sv_root_account_name',
       'SV_ROOT_ACCOUNT', 'SV_ACCOUNT', 'csg_account', 'csg_busn_name',
       'ParentID', 'ACCOUNT__C', 'CSG1', 'CSG2', 'CSG3', 'Site_Account__c',
       'mDiv', 'SV1', 'SV2', 'SV3', 'OwnerID', 'Owner_name', 'title',
       'Title_Role__c', 'AM_Module__c', 'CAGE_Number__c', 'SFDC_ACCOUNT_TYPE',
       'SFDC_OBJECT_TYPE', 'SFDC_OWNER_USERNAME', 'SFDC_NAT_IND',
       'SFDC_NAT_SP_IND', 'SV_EXCL_IND', 'CSG_EXCL_IND', '_FAMILY_ID',
       'FAMILY_ID', '_FAMILY_ID_REGION', 'FAMILY_ID_REGION', '__tmp'],
      dtype='object')

In [5]:
pd.DataFrame.to_csv?

In [6]:
account_adj_csv = os.path.join('data', 'accounts_fam_adj_11_2020.csv', )
df_acc_adj = pd.read_csv(account_adj_csv)

c:\users\kmineg144\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (0,2,14) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [7]:
df_acc_adj.head()

,DISTINCT_LOC_ID,sfdc_link,sv_root_account_name,SV_ROOT_ACCOUNT,SV_ACCOUNT,csg_account,csg_busn_name,ParentID,ACCOUNT__C,CSG1,...,SFDC_OWNER_USERNAME,SFDC_NAT_IND,SFDC_NAT_SP_IND,SV_EXCL_IND,CSG_EXCL_IND,_FAMILY_ID,FAMILY_ID,_FAMILY_ID_REGION,FAMILY_ID_REGION,__tmp
0,8155100515550808,CSG ACCOUNT,NaN,NaN,NaN,8.155101e+15,"GLEN,WILLOW",NaN,0011H00001zQY1NQAW,8.155101e+15,...,desiree_youngdaye@comcast.com.smb,NaN,NaN,NaN,NaN,547143,547143,CALIFORNIA,CALIFORNIA,547143.0
1,8155100515558033,CSG ACCOUNT,NaN,NaN,NaN,8.155101e+15,"MICROPRODUCTS,INSYNC",NaN,0011H00001nRiCcQAK,8.155101e+15,...,zeke_martinez@comcast.com.smb,NaN,NaN,NaN,NaN,508740,508740,CALIFORNIA,CALIFORNIA,508740.0
2,8155100515562258,CSG ACCOUNT,NaN,NaN,NaN,8.155101e+15,"TO THI #1,PHO",NaN,0011H00001lJiUzQAK,8.155101e+15,...,ravi_krishan@comcast.com.smb,NaN,NaN,NaN,NaN,394011,394011,CALIFORNIA,CALIFORNIA,394011.0
3,8155100515563280,CSG ACCOUNT,NaN,NaN,NaN,8.155101e+15,"HARDWARE,ACE",NaN,0011H00001nOl2tQAC,8.155101e+15,...,john_baraona@comcast.com.smb,NaN,NaN,NaN,NaN,387897,387897,CALIFORNIA,CALIFORNIA,387897.0
4,8155100515563470,CSG ACCOUNT,NaN,NaN,NaN,8.155101e+15,"HARDWARE,ACE",NaN,0011H00001nOaUeQAK,8.155101e+15,...,john_baraona@comcast.com.smb,NaN,NaN,NaN,NaN,387897,387897,CALIFORNIA,CALIFORNIA,387897.0

In [8]:
len(df_acc_adj), len(df_acc_adj['FAMILY_ID'].unique())

(882028, 508495)

In [9]:
df_acc_adj._FAMILY_ID_REGION.value_counts()

CALIFORNIA             218706
MOUNTAIN WEST          160009
SEATTLE                109558
FREEDOM                103089
PORTLAND                72384
HOUSTON                 71993
TWIN CITIES             66885
CHICAGO                 36493
UNKNOWN                 10597
KEYSTONE                 9251
BELTWAY                  6632
FLORIDA                   943
BIG SOUTH                 654
GREATER BOSTON            648
HEARTLAND                 462
WESTERN NEW ENGLAND       130
Name: _FAMILY_ID_REGION, dtype: int64

In [10]:
df_acc_adj.FAMILY_ID_REGION.value_counts()

CALIFORNIA             218793
MOUNTAIN WEST          159970
SEATTLE                109637
FREEDOM                102439
PORTLAND                72326
HOUSTON                 71997
TWIN CITIES             66857
CHICAGO                 37200
UNKNOWN                 10627
KEYSTONE                 9258
BELTWAY                  6649
FLORIDA                   782
BIG SOUTH                 660
GREATER BOSTON            648
HEARTLAND                 462
WESTERN NEW ENGLAND       129
Name: FAMILY_ID_REGION, dtype: int64

## Execute account data processing

In [11]:
acc = Account(account_adj_csv, varname_family_id = 'FAMILY_ID')
acc.merge_data(opp_df[subset_vars_opp])
acc.add_columns()
acc.filter() 
acc.drop_vars(dropping_vars_acc)
acc.output_to_file(output_filepath)

c:\users\kmineg144\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3338: DtypeWarning: Columns (0,2,14) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

## Inspect processed account data

In [12]:
acc_df = pd.read_pickle(os.path.join(output_filepath, 'account.pkl'))

In [13]:
print(len(acc_df))
acc_df.head()

508495

,ACCOUNT__C,DISTINCT_LOC_ID,SFDC_LINK,SV_ROOT_ACCOUNT_NAME,SV_ROOT_ACCOUNT,SV_ACCOUNT,CSG_ACCOUNT,CSG_BUSN_NAME,PARENTID,CSG1,...,__TMP,OPPORTUNITY_NUMBER__C,CREATEDDATE,OPPORTUNITY_EXCL_IND,OPPORTUNITY_OWNER_ROLE,OPPORTUNITY_OWNER_NAME,FINAL_OWNERS_NAME,FINAL_OWNER_ROLE_NAME,SP_IND,FAMILY_MOST_RECENT_OPPORTUNITY
847028,001A0000017TQbsIAG,933662931933662931110672824000,SV ACCOUNT,SP Richards Co,933662931.0,933662931.0,NaN,NaN,NaN,8.220111e+15,...,791.0,O-24409608,2020-12-03,Locked - Open Opportunity,SEAE,Brittney Dyess,Brittney Dyess,SEAE,NaN,NaT
168996,0011200001LV0IHAA1,8777701330438786,CSG ACCOUNT,NaN,NaN,NaN,8.777701e+15,"SYSTEMS INC,CORNERSTONE",NaN,8.777701e+15,...,127465.0,O-24248304,2020-11-09,Locked - Open Opportunity,SEAE,Andrew Forsyth,Andrew Forsyth,SEAE,NaN,NaT
393645,0011H00001dDaKOQA0,934539296934539296010390050000,SV ACCOUNT,Waypoint Analytical,934539296.0,934539296.0,NaN,NaN,NaN,8.396411e+15,...,13359.0,O-22548774,2020-03-20,Locked - Open Opportunity,EAM,Chris Thompson,Chris Thompson,EAM,NaN,NaT
802108,001A0000011Fu3hIAC,930011056930011056310010040000,SV ROOT ACCOUNT,Internap,930011056.0,930011056.0,NaN,NaN,NaN,NaN,...,9424.0,O-20215754,2019-05-09,Locked - Open Opportunity,SEAE,Brittney Dyess,Brittney Dyess,SEAE,NaN,NaT
807222,001A0000011GJbCIAW,930873724930873724060010470000,SV ROOT ACCOUNT,"Sohonet, Inc.",930873724.0,930873724.0,NaN,NaN,NaN,NaN,...,14246.0,O-13915529,2017-01-04,Locked - Open Opportunity,SEAE,Brittney Dyess,Brittney Dyess,SEAE,NaN,NaT

In [14]:
acc_df.FAMILY_MOST_RECENT_OPPORTUNITY.value_counts()

2020-10-26    988
2020-10-20    896
2020-07-13    883
2020-10-27    871
2020-11-02    871
             ...
2012-03-04      1
2012-09-01      1
2013-01-06      1
2012-07-08      1
2016-10-30      1
Name: FAMILY_MOST_RECENT_OPPORTUNITY, Length: 3176, dtype: int64

In [15]:
acc_df.FAMILY_ID.max()

99999520

In [16]:
acc_df.FAMILY_ID[:10]

847028         791
168996      127465
393645       13359
802108        9424
807222       14246
807188      479007
50051         3014
28707     86858020
28708         2837
802884      592826
Name: FAMILY_ID, dtype: int64